nav {
    background: rgb(80,8,129);
    background: linear-gradient(90deg, rgba(80,8,129,1) 0%, rgba(253,29,29,1) 42%, rgba(252,176,69,1) 79%);
}

body {

    padding: 0%;
    margin: 0%;
    background: linear-gradient(90deg, rgba(252,176,69,1) 0%, rgba(253,29,29,1) 42%, rgba(80,8,129,1) 79%);
}
.headshot {
    display: flex;
    justify-content:center;

}
.headshot img {
    margin: 20px;
    display: flex;
    width: 300px;
    height: 450px;
    justify-content: flex-end;
    border-radius: 15pc;

}

.sadness {
    display: flex;
    align-items: center;
    background-image: linear-gradient(90deg, rgba(80,8,129,1) 0%, rgba(253,29,29,1) 42%, rgba(252,176,69,1) 79%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 30px;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.col img {
    width: 400px;
    height: 200px;
    border: 1px solid pink;
    background-color: pink;
}